{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "globals": {
    "module": true,
    "test": true,
    "describe": true,
    "expect": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}