.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border: 1px solid black;
}

.cell.alive {
  background: black;
}